                <div class="post"><h1 class="post-title">关于</h1>
                    <div class="post-content">
#if($!{username})
                        <p><i class="fa fa-user"></i>
                            Nickname: <a href="javascript:void(0);">$!{username}</a>
                        </p>
#end
#if($!{email})
                        <p><i class="fa fa-envelope"></i>
                            Email: <a href="mailto:$!{email}" target="_blank" rel="external">$!{email}</a>
                        </p>
#end
#if($!{github})
                        <p><i class="fa fa-github"></i>
                            Github: <a href="https://github.com/$!{github}" target="_blank" rel="external">@$!{github}</a>
                        </p>
#end
#if($!{weibo})
                        <p><i class="fa fa-weibo"></i>
                            Weibo: <a href="http://weibo.com/$!{weibo}" target="_blank" rel="external">@$!{weibo}</a>
                        </p>
#end
#if($!{twitter})
                        <p><i class="fa fa-twitter"></i>
                            Twitter: <a href="https://twitter.com/$!{twitter}" target="_blank" rel="external">@$!{twitter}</a>
                        </p>
#end
                        <iframe src="${request.contextPath}/static/default/donate-page/simple/index.html?item=easy-select-style&v=$!{version}" style="overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; height:190px; width:310px"
                                frameborder="0" scrolling="no">
                        </iframe>
                    </div>
                </div>
