#set($layout='layout/empty.vm')
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="Shortcut Icon" type="image/x-icon" href="${request.contextPath}/favicon.ico">
    <title>登录</title>
    <style type="text/css">
        input::-ms-clear {
            display: none;
        }

        input[type="password"]::-ms-reveal {
            display: none;
        }
    </style>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
            background: #fff url(${request.contextPath}/static/default/images/backgroud.png) 50% 50% no-repeat;
            background-size: cover;
        }

        .dowebok {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 430px;
            height: 550px;
            margin: -300px 0 0 -215px;
            border: 1px solid #fff;
            border-radius: 20px;
            overflow: hidden;
        }

        .logo {
            width: 104px;
            height: 104px;
            margin: 50px auto 80px;
            background: url(${request.contextPath}/static/default/images/login1.png) 0 0 no-repeat;
        }

        .form-item {
            position: relative;
            width: 360px;
            margin: 0 auto;
            padding-bottom: 30px;
        }

        .form-item input {
            width: 288px;
            height: 48px;
            padding-left: 70px;
            border: 1px solid #fff;
            border-radius: 25px;
            font-size: 18px;
            color: #fff;
            background-color: transparent;
            outline: none;
        }

        .form-item button {
            width: 360px;
            height: 50px;
            border: 0;
            border-radius: 25px;
            font-size: 18px;
            color: #1f6f4a;
            outline: none;
            cursor: pointer;
            background-color: #fff;
        }

        #username {
            background: url(${request.contextPath}/static/default/images/emil.png) 20px 14px no-repeat;
        }

        #password {
            background: url(${request.contextPath}/static/default/images/password.png) 23px 11px no-repeat;
        }

        .tip {
            display: none;
            position: absolute;
            left: 20px;
            top: 52px;
            font-size: 14px;
            color: #f50;
        }

        .reg-bar {
            width: 360px;
            margin: 20px auto 0;
            font-size: 14px;
            overflow: hidden;
        }

        .reg-bar a {
            color: #fff;
            text-decoration: none;
        }

        .reg-bar a:hover {
            text-decoration: underline;
        }

        .reg-bar .reg {
            float: left;
        }

        .reg-bar .forget {
            float: right;
        }

        .dowebok ::-webkit-input-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok :-moz-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok ::-moz-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        .dowebok :-ms-input-placeholder {
            font-size: 18px;
            line-height: 1.4;
            color: #fff;
        }

        @media screen and (max-width: 500px) {
            * {
                box-sizing: border-box;
            }

            .dowebok {
                position: static;
                width: auto;
                height: auto;
                margin: 0 30px;
                border: 0;
                border-radius: 0;
            }

            .logo {
                margin: 50px auto;
            }

            .form-item {
                width: auto;
            }

            .form-item input, .form-item button, .reg-bar {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<div class="dowebok">
    <div class="logo"></div>
    <input id="pubKey" type="hidden" value="${pubKey}">
    <input id="serverTimeMillis" type="hidden" value="${serverTimeMillis}">
    <div class="form-item">
        <input id="username" type="text" autocomplete="off" placeholder="用户名">
    </div>
    <div class="form-item">
        <input id="password" type="password" autocomplete="off" placeholder="登录密码">
        <p class="tip"></p>
    </div>
    <div class="form-item">
        <button id="submit">登 录</button>
    </div>
##        <div class="reg-bar">
##            <a class="reg" href="#" target="_blank">立即注册</a>
##            <a class="forget" href="#" target="_blank">忘记密码</a>
##        </div>
</div>
<script src="${request.contextPath}/static/default/js/jquery.min.js"></script>
<script src="${request.contextPath}/static/default/js/sha1.js"></script>
<script src="${request.contextPath}/static/default/js/jsencrypt.min.js"></script>

<script>
    $(function () {
        $('#submit').on('click', function () {


            var jsencrypt = null;
            var passwordMaxLength = 16;


            var submit = $('#submit');
            var username = $('#username').val()
            var password = $('#password').val()

            showMessage('', false)

            if ($.trim(username).length == 0 || $.trim(password).length == 0) {
                showMessage('用户名或密码不能为空', true)
                return
            }

            if (password.length > passwordMaxLength) {
                showMessage("密码长度不能超过" + passwordMaxLength + "个字符", true);
                return;
            }

            var now = new Date();
            jsencrypt = new JSEncrypt();
            jsencrypt.setPublicKey($("#pubKey").val());
            password = jsencrypt.encrypt(Number($(document).data('timeMillisDiff')) + now.getTime() + "," + sha1('_PASS_SLAT_' + password));
            if ("false" == String(password)) {
                showMessage("加密失败", true)
                return;
            }

            enableButton(submit, false)
            $.post("",
                    {
                        username: username,
                        password: password
                    },
                    function (data, status) {
                        var resp = JSON.parse(data);
                        if (resp.success) {
                            window.location.href = resp.ReturnUrl;
                            return;
                        } else {
                            showMessage(resp.message, true);
                        }
                    }).fail(function () {
                showMessage('请求失败, 请稍后重试', true)
            }).always(function () {
                enableButton(submit, true)
            })

        })
        $('input').on('focus', function () {
            showMessage('', false)
        })
        $(document).on('keydown', function (e) {
            var key = e.keyCode || e.charCode;
            if (key == "13") {
                $('#submit').click();
            }
        })

        //
        $(document).data('timeMillisDiff', String(Number($('#serverTimeMillis').val()) - new Date().getTime()))

        //
        var message = '$!{message}'
        if (message != '') {
            showMessage(message, true)
        }
    })

    function showMessage(text, show) {
        var msg = $('#password').siblings('p').text(text)
        if (show) {
            msg.show()
        } else {
            msg.hide()
        }

    }

    function enableButton(button, enable) {
        if (enable === true) {
            button.attr('disabled', false);
            button.html('登 录');
        } else {
            button.attr('disabled', true);
            button.html('登 录 中...');
        }
    }
</script>
</body>
</html>