<script src="${request.contextPath}/static/default/js/jr-qrcode.js"></script>

#if($!{post})
                <div class="post">
                    <h1 class="post-title">$!{post.title}</h1>
                    <div class="post-meta">$DateUtils.format($!{post.createdTime}, 'MMM dd, yyyy')<span> | </span><span class="category"><a href="${request.contextPath}/categories/$!{category.dictKey}">$!{category.dictValue}</a></span><span> | </span><span class="source"> #emTitle('EmPostSource', $!{post.source}) </span></div>
                    <a href="#comments" class="disqus-comment-count">$!{post.extendMap.commentCount}条评论</a>
                    <div class="post-content">
                        $!{post.extendMap.postContentPrefix}
                        $!{post.extendMap.content}
                        $!{post.extendMap.postContentSuffix}
                    </div>
                    <a data-url="$!{protocol}://$!{domain}${request.contextPath}/post/show/$!{post.id}" data-id="$!{post.id}" class="article-share-link">分享到</a>
                    <script type="text/javascript" src="${request.contextPath}/static/default/js/share.js?v=$!{version}" async></script>
                    <script type="text/javascript">
                        var share = $('.article-share-link');
                        share.attr('data-qrcode', jrQrcode.getQrBase64(share.attr('data-url'),{width:202,height:202}));
                    </script>
                    <div class="tags">
#if($!{tags})
#foreach($item in $tags)
                        <a href="${request.contextPath}/tags/$!{item.dictKey}">$!{item.dictValue}</a>
#end
#end
                    </div>
                    <div class="post-nav">
#if($!{prev})
                        <a href="${request.contextPath}/post/show/$!{prev.id}" class="pre">$!{prev.title}</a>
#end
#if($!{next})
                        <a href="${request.contextPath}/post/show/$!{next.id}" class="next">$!{next.title}</a>
#end
                    </div>
                    <div class="post-nav">
                    </div>
#parse('layout/comment.vm')
                </div>
#end


