#set($layout='admin/layout/layout.vm')
<link rel="stylesheet" href="${request.contextPath}/static/admin/vendor/mditor/mditor.min.css"/>
<link rel="stylesheet" href="${request.contextPath}/static/admin/vendor/multiselect/bootstrap-multiselect.css"/>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">文章编辑</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <form id="pageform" class="form-inline" action="${request.contextPath}/admin/post/save" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="title">标题：</label>
                    <input type="text" class="form-control" id="title" name="title" value="$!{post.title}" placeholder="请输入标题..." required>
                </div>
            </div>
        </div>
#if(!$!{post} || $!{post.postType} == 1)

        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="tags">标签：</label>
                    <select id="tags" name="extendMap[tags]" multiple="multiple">
#foreach($item in $tagsAll)
                            <option value="$item.id" #if($DictUtils.contains($tags, $item))selected#end>$item.dictValue</option>
#end
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="category">分类：</label>
                    <select id="category" name="extendMap[category]">
#foreach($item in $categoryAll)
                            <option value="$item.id" #if($!{category.dictType} == $!{item.dictType} and $!{category.dictKey} == $!{item.dictKey})selected#end>$item.dictValue</option>
#end
                    </select>
                </div>
            </div>
        </div>
#end
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="postType">文章类型：</label>
                    #emOption('EmPostPostType', $!{post.postType}, 'postType')
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="status">发布状态：</label>
                    <select id="status" name="status">
#set($postStatusArray=$EmUtils.values('EmPostStatus'))
#foreach($item in $postStatusArray)
                        <option value="$item.value" #if($item.value == $post.status) selected#end#if(!$post.status and $item.value == 2) selected#end>$item.title</option>
#end
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="postType">文章来源：</label>
                    #emOption('EmPostSource', $!{post.source}, 'source')
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>暂存设置：</label>
                    <input class="btn btn-default" type="button" id="save" value="Save">
                    <input class="btn btn-default" type="button" id="recover" value="Recover">
                    <input class="btn btn-default" type="button" id="clear" value="Clear">
                    <input class="btn btn-default" type="button" id="clear_all" value="Clear All">

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <input type="hidden" name="id" value="$!{post.id}">
                <textarea name="content" id="content">$!{post.content}</textarea>
                <input class="btn btn-default" type="submit" id="submit" value="Submit">
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </form>
</div>
<script src="${request.contextPath}/static/admin/vendor/multiselect/bootstrap-multiselect.js"></script>
<script src="${request.contextPath}/static/admin/vendor/mditor/mditor.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // http://davidstutz.github.io/bootstrap-multiselect/
        $('#tags').multiselect();
        $('#category').multiselect();
        $('#postType').multiselect();
        $('#status').multiselect();

        // https://github.com/houfeng/mditor
        var mditor = Mditor.fromTextarea(document.getElementById('content'));

        //获取或设置编辑器的值
        mditor.on('ready', function () {
            console.log(mditor.value);
            mditor.value = '** hello **';
        });
        // https://developer.mozilla.org/zh-CN/docs/Web/API/Window/localStorage
        key = window.location.pathname;
        $('#submit').on('click', function () {
            localStorage.setItem(key, mditor.value)
        })
        $('#save').on('click', function () {
            localStorage.setItem(key, mditor.value)
        })
        $('#recover').on('click', function () {
            if (confirm('确定恢复上次提交或保存的数据？')) {
                savedPostContent = localStorage.getItem(key)
                if (savedPostContent != undefined && savedPostContent != null) {
                    mditor.value = savedPostContent
                }
            }
        })
        $('#clear').on('click', function () {
            if (confirm('确定清空本页面暂存的数据？')) {
                localStorage.removeItem(key)

            }
        })
        $('#clear_all').on('click', function () {
            if (confirm('确定清空所有页面暂存的数据？')) {
                localStorage.clear()
            }
        })
        setInterval(function () {
            localStorage.setItem(key, mditor.value)
        }, 5000)
    });

</script>
