                    <div id="comments" style="margin-top: 1em; max-width: 800px; width: 100%;">
                        <div class="response-list">
#foreach($item in $commentList)
                            <div class="comment avatar-container" id="c$!{item.id}">
                                <div class="author">
                                    <h6><a href="javascript:void(0);">$!{item.username}</a></h6>
                                    <span class="date" title="Posted at $!{item.extendMap.timeFmt}">
                                      <a href="javascript:void(0);">$!{item.extendMap.timeBefore}</a>
                                    </span>
                                    <div class="comment-avatar-container">
                                            <img class="avatar" src="$!{item.extendMap.avatar}" >
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="body">
#if($!{item.extendMap.commentParent})
                                        <div class='quote'>
                                            <a href='#c$!{item.extendMap.commentParent.id}'>$!{item.extendMap.commentParent.username} said:</a><br />$!{item.extendMap.commentParent.content.replaceAll("\n", "<br />")}
                                        </div>
#end
                                        $!{item.content.replaceAll("\n", "<br />")}
                                    </div>
                                    <div class="post-footer" style="clear: left;">
                                        <ul class="flat-list pipe-list">
                                            <li><a href="#commentArea" onclick="replyTo('$!{post.id}', 'c$!{item.id}')">回复</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
#end
                        </div>
                        <div id="commentArea" style="clear: both;">
                            <div class="cancel-comment-reply">
                                <a class="response" href="#commentArea" onclick="replyTo('$!{post.id}', '$!{post.id}')">发表新评论</a>
                            </div>
                            <form action="${request.contextPath}/comment/post" method="post">
                                <div>
                                    <input type="text" id="username" name="username" class="form-control"
                                           placeholder="称呼 *" value="" maxlength="32" required>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="电子邮箱 *"
                                           value="" maxlength="32" required>
                                    <input type="url" id="url" name="url" class="form-control" placeholder="网址(http://)"
                                           value="" maxlength="100">
                                </div>
                                <div>
                                    <input type="hidden" name="postId" value="$!{post.id}">
                                    <input type="hidden" name="parentId" value="$!{post.id}">
                                    <input type="hidden" name="parentType" value="1">
                                    <input type="hidden" id="captchaKey" name="extendMap[captchaKey]" value="$!{captchaKey}">
                                    <textarea name="content" class="form-control" wrap="soft" placeholder="在这里输入你的评论" maxlength="1000" required></textarea>
                                    <input type="text" id="captchaValue" name="extendMap[captchaValue]" class="form-control" placeholder="请输入验证码"  maxlength="10" required>
                                    <img id="captchaImageBase64" src="$!{captchaImageBase64}" />
                                    <input type="submit" id="submit" class="submit" value="提交评论" >
                                </div>
                            </form>
                        </div>
                    </div>


                    <script type="text/javascript">
                        // http://www.ruanyifeng.com/blog/2014/03/undefined-vs-null.html
                        // JavaScript的最初版本是这样区分的：null是一个表示"无"的对象，转为数值时为0；undefined是一个表示"无"的原始值，转为数值时为NaN。
                        $(document).ready(function () {
                            var commentInfoKey = '_commentInfo'
                            var commentInfoStr = localStorage.getItem(commentInfoKey);
                            var captchaSuccess = false
                            if (commentInfoStr != undefined && commentInfoStr != null) {
                                var commentInfoJson = JSON.parse(commentInfoStr);
                                if (new Date().getTime() - commentInfoJson.milliseconds > 1000 * 60 * 60 * 24 * 31) {
                                    localStorage.removeItem(commentInfoKey)
                                } else {
                                    $('#username').val(commentInfoJson.username)
                                    $('#email').val(commentInfoJson.email)
                                    $('#url').val(commentInfoJson.url)
                                }
                            }
                            $('#captchaImageBase64').on('click', function () {
                                reloadCaptcha();
                            })
                            // 提交前校验验证码
                            $('#submit').on('click', function () {
                                localStorage.setItem(commentInfoKey, JSON.stringify({
                                    'username': $('#username').val(),
                                    'email': $('#email').val(),
                                    'url': $('#url').val(),
                                    'milliseconds': new Date().getTime()
                                }));
                                if($('#captchaValue').val().trim() === ''){
                                    captchaError(true)
                                    return false;
                                }
                                if(!captchaSuccess){
                                    $.ajax({
                                        type: 'POST',
                                        url: '/captcha/validate?_=' + Math.random(),
                                        async: false,
                                        data : {
                                            "captchaKey": $('#captchaKey').val(),
                                            "captchaValue" : $('#captchaValue').val()
                                        },
                                        success : function (data) {
                                            if(data.success){
                                                captchaSuccess = true;
                                                captchaError(false);
                                            }else{
                                                captchaError(true);
                                                reloadCaptcha();
                                            }
                                        },
                                        error : function (xhr, status, errorThrown) {
                                            reloadCaptcha();
                                        }
                                    });
                                }
                                return captchaSuccess;
                            })
                            // 验证码输入错误提示
                            function captchaError(flag) {
                                if(flag){
                                    $('#captchaValue').focus();
                                    $('#captchaValue').val("");
                                    $('#captchaValue')[0].placeholder = '验证码错误，请重新输入';
                                }else{
                                    $('#captchaValue')[0].placeholder = '请输入验证码';
                                }
                            }
                            // 重新加载验证码
                            function reloadCaptcha() {
                                captchaSuccess = false;
                                $.post("/captcha/new?_=" + Math.random(),
                                        {},
                                        function (data, status) {
                                            if (data.success) {
                                                $('#captchaKey').val(data.captchaKey);
                                                $('#captchaImageBase64')[0].src = data.captchaImageBase64;
                                                return;
                                            }
                                        });

                            }
                        });
                    </script>
